body {
    background: #DDDDDD;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.login-buttons{
    float: right;
}

.navbar {
    background-color: #800000;
    color: white;
    z-index: 1;
}

.BugetOverview-buttons{
    text-align: center;
}

.page-container {
    margin-top: 75px;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.wrapper .sidebar {
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

/* Sidebar top tab */
.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
}
.wrapper .sidebar .profile h3 {
    color: #fff;
    margin: 10px 0 5px;
}
.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

/* Sidebar list items */
.wrapper .sidebar ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}
/* add top border to only first element in list */
.wrapper .sidebar ul li:first-child {
    border-top: 1px solid #10558d;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

/* Active sidebar element */
.wrapper .sidebar ul li a:hover, 
.wrapper .sidebar ul li a.active {
    color: #0c7db1;
    background: white;
}
.wrapper .sidebar ul li a:hover:before, 
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}
/* Add small spacing for dropdown icon to be centered */
.section {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrapper .section .top_navbar {
    background: rbg(7. 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.wrapper .section .top_navbar .hideable a{
    font-size: 28px;
    color: #f4fbff;
}
.wrapper .section .top_navbar .hideable a:hover {
    color: #a2ecff;
}

/* Initialize with sidebar hidden */
body.active .wrapper .sidebar {
    left: 0px;
}
body .wrapper .sidebar {
    left: -225px;
}

/* Hold sidebar width */
body.active .wrapper .section {
    margin-left: 0;
    width: 100px;
}

.dropdownIcon {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}